body {
    font-family: Arial;
    margin: 20px;
}

section {
    margin-bottom: 40px;
}

h2 {
    margin-top: 40px;
    border-bottom: 2px solid #ccc;
    padding-bottom: 10px;
}

.container-flex {
    display: flex;
    background-color: black;
    padding: 10px;
    margin-bottom: 20px;
    gap: 10px;   
}

.item-flex {
    background-color: grey;
    color: black;
    padding: 15px;
    margin: 5px;
    text-align: center;
    font-size: 1.2em;
}

.direcao-linha{
    flex-direction: row;
}

.direcao-coluna{
    flex-direction: column;
}

.wrap {
    flex-wrap: wrap;
}

.nowrap {
    flex-wrap: nowrap;
}

.justificar-inicio {
    justify-content: flex-start;
}

.justificar-fim {
    justify-content: flex-end;
}

.justificar-centro {
    justify-content: center;
}

.justificar-space between {
    justify-content: space-between;
}

.justificar-space around {
    justify-content: space-around;
}

.justificar-space evenly {
    justify-content: space-evenly;
}

.align-item .container-flex {
    height: 300px;
}
